@import '../../Assets/variables.styl';

.color-holder
  display flex
  background $color-grey
  padding 10px
  border-radius 5px 5px 0 0
  & div
    margin 0 4px
    box-sizing border-box

.yellow
  background $color-yellow

.white
  background $color-white

.red
  background $color-red

.green
  background $color-green

.blue
  background $color-blue

.black
  background $color-black

