@import '../../Assets/variables.styl';

button
  padding 3px 10px
  border none
  border-radius 0 0 10px 10px
  cursor pointer
  font-size 15px
  background-color $color-rose
  &:focus
    outline none

.disabled
  opacity 0.4

