  @import '../../Assets/variables.styl';

.calculation-field
  display flex
  flex-direction column
  align-items center
  width 14px
  height 49px
  padding 2px
  margin 0 4px
  background $color-dark-grey

.first, .second, .third, .fourth
  margin-bottom 2px

.first
  margin-top 1px

