@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.game
  display flex
  justify-content center
  flex-direction column
  align-items center

.playing-field
  display flex
  margin-top 20px

.lose
  font-family "Indie Flower"
  font-size 40px