@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import '../../Assets/variables.styl';

.game
  display flex
  justify-content center
  flex-direction column
  align-items center

.playing-field
  display flex
  margin-top 20px

.victory
  color $color-green

.lose
  color $color-red

.lose span, .victory span
  display block
  font-family "Indie Flower"
  font-size 35px
  text-align center