$font-size-default = 16px;
$font-size-min = 15px;

$color-grey = hsl(0, 0%, 90%);
$color-dark-grey = hsl(250, 12%, 20%);
$color-light-green = hsl(77, 60%, 47%);

$color-yellow = hsl(60, 100%, 50%);
$color-white = hsl(0, 0%, 100%);
$color-red = hsl(0, 100%, 50%);
$color-green = hsl(120, 100%, 25%);
$color-blue = hsl(240, 100%, 50%);
$color-black = hsl(0, 0%, 0%);

$color-rose = hsl(0, 24%, 86%);
